In [4]:
#pandas의 dataFrame은 엑셀의 스프레드시트와 비슷한 테이블 형태
#sql처럼 테이블에 쿼리나 조인을 수행할 수 있음
#pandas는 전체 배열의 원소가 동일한 타입이어야 하는 numpy와 달리 각 열의 데이터 타입이 달라도 됨
#sql, 엑셀, csv 파일 같은 다양한 파일과 데이터베이스에서 데이터를 읽어 들일 수 있음

import pandas as pd

data = {'name' :  ["john","anna","peter","linda"],
        'location' : ["new york", "paris", "berlin", "london"],
        'age' : [24,13,53,33]
       }
data_pandas = pd.DataFrame(data)

#주피터가 제공하는 데이터 프레임 출력 메소드
display(data_pandas)

   age  location   name
0   24  new york   john
1   13     paris   anna
2   53    berlin  peter
3   33    london  linda

In [ ]:
#padas sql 사용 예
display(data_pandas[data_pandas.age>30])